@import 'tailwindcss';

/* Scan sources for Tailwind classes */
@source './src/**/*.{js,ts,jsx,tsx}';
@source '../../packages/designer/src/**/*.{js,ts,jsx,tsx}';
@source '../../packages/components/src/**/*.{js,ts,jsx,tsx}';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}
